[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest = "*"
pytest-cov = "*"

[packages]
"espyn" = {path = ".", editable = true}

[requires]
python_version = "3.7"
